<h1> Ruby on Rails List <h1>
<h3> Mike Gestring<h3>
<p> Beginner Ruby on Rails Developpment Experience (created this site)<p>
<p> MBA <p>
<p> BSBA Real Estate Finance <p>
<p> Javelin Solutions, 12/10-4/13, Project Manager<p>
<p> Newmark Grubb Knight Frank, 4/13-8/13, Transaction Manager <p>
<p> Ruby on Rails List, 11/13-Present, President <p>	
<a href="http://www.filedropper.com/itresume1272013rtf" target="_blank"> Mike Gestring Resume </a>